<header>
    <div class="my-container"> 
        <a routerLink="/" class="logo">Food Mine!</a>
        <nav>
            <ul>
                <li>
                    <a routerLink="/login">Login</a>
                </li>
                <li class="menu-container">
                    <a routerLink="/dashboard">Nicola</a>
                    <div class="menu">
                        <a routerLink="/profile">Profile</a>
                        <a routerLink="/orders">Orders</a>
                        <a>Logout</a>
                    </div>
                </li>
                <li>
                    <a routerLink="/cart-page">
                        Cart @if (cartQuantity) {
                            <span>{{cartQuantity}}</span>
                        }
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</header>   